<div class="button-container">
  <div><a href='index.html'><button>Home</button></a></div>
  <div><a href='game.html'><button>Play</button></a></div>
  <div><a href='leader.html'><button>Leaderboard</button></a></div>
</div>
