<h2>About</h2>

<div class="about-container">
  <div><p>Benny's Revenger is our take on the classic: Rock, Paper, Scissors. In this mode, you play against our dynamic Bennybot.
          How many times can you beat him at his only game? Watch your winning streak counter rise at every victory and collapse at
          each defeat. Catch your highscore on our leaderboard, maybe even sweep it. Good luck!</p></div>
</div>
