<h2>Good luck!</h2>

<div class="bennybot-container">
  <section id="weapons">

    <div id="benny-rock">
      <div class="weapon-contents">
        <div class="weapon-image-container">
          <img src="***INSERT LINK***" alt="Rock">
        </div>
        <div class="weapon-info-container">
          <span class="weapon-name">Rock</span>
        </div>
      </div>
    </div>

  <div id="benny-paper">
    <div class="weapon-contents">
      <div class="weapon-image-container">
        <img src="***INSERT LINK***" alt="Paper">
      </div>
      <div class="weapon-info-container">
        <span class="weapon-name">Paper</span>
      </div>
    </div>
  </div>

  <div id="benny-scissors">
    <div class="weapon-contents">
      <div class="weapon-image-container">
        <img src="***INSERT LINK***" alt="Scissors">
      </div>
      <div class="weapon-info-container">
        <span class="weapon-name">Scissors</span>
      </div>
    </div>
  </div>
  </section>
</div>



<div class="player-container">
  <section id="weapons">

    <div id="player-rock">
      <div class="weapon-contents">
        <div class="weapon-image-container">
          <img src="***INSERT LINK***" alt="Rock">
        </div>
        <div class="weapon-info-container">
          <span class="weapon-name">Rock</span>
        </div>
      </div>
    </div>

  <div id="player-paper">
    <div class="weapon-contents">
      <div class="weapon-image-container">
        <img src="***INSERT LINK***" alt="Paper">
      </div>
      <div class="weapon-info-container">
        <span class="weapon-name">Paper</span>
      </div>
    </div>
  </div>

  <div id="player-scissors">
    <div class="weapon-contents">
      <div class="weapon-image-container">
        <img src="***INSERT LINK***" alt="Scissors">
      </div>
      <div class="weapon-info-container">
        <span class="weapon-name">Scissors</span>
      </div>
    </div>
  </div>
  </section>
</div>
