<div class="highscore" ranking="{{rank}}">
  <div class="highscore-contents">
    <div class="highscore-info">
      <span class="player-name">{{playerName}}</span> <span class="player-score">{{playerScore}}</span>
    </div>
  </div>
</div>
