<div class="button-container">
  <div><a href='game.html'><button>Play Now</button></a></div>
  <div><a href='index.html'><button>Home</button></a></a></div>
  <div><a href='about.html'><button>About</button></a></div>
</div>
