<div id="modal-backdrop" class="hidden"></div>
<div id="submit-highscore-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Congratulations! Your win-streak qualifies for the leaderboard!</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="highscore-input-element">
        <label for="playerName-input">Name</label>
        <input type="text" id="playerName-input"></input>
      </div>

      <div>
        ((show highscore here))
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-submit" class="action-button">Submit Highscore</button>
    </div>

  </div>
</div>
