<h2>Welcome!</h2>

<div class="button-container">
  <div><a href='game'><button>Play Now</button></a></div>
  <div><a href='leaderboard'><button>Leaderboard</button></a></div>
  <div><a href='about'><button>About</button></a></div>
</div>