<section id="leaderboard-container">
  {{#each highscoreData}}
    {{> highscoreTemplate}}
  {{/each}}
</section>

<div class="button-container">
  <div><a href='/'><button>Home</button></a></div>
  <div><a href='game'><button>Play Now</button></a></div>
  <div><a href='about'><button>About</button></a></div>
</div>
