/*Fonts*/
@font-face {
  font-family: "Lemon Milk";
  src: url("css/LemonMilk.otf")
}

@font-face {
  font-family: "Mollen";
  src: url("css/Mollen.otf")
}

@font-face {
  font-family: "Mollen Bold";
  src: url("css/Mollen Bold.otf")
}

/*Sitewide Style*/
/*Banner*/
html {
  background-color: #90d6cc;
}
.site-title {
  text-align: center;
  font-family: "Lemon Milk", Arial, sans-serif;
  background-color: #5abdae;
  padding: 0px;
  border-color: #2da391;
  text-shadow: 2px 2px #2da391
}

.site-title h3 {
  font-size: 20px;

}

.site-title a {
  text-decoration: none;
  color: white;

}

.header-img{
  text-align: center;
}

.site-title img {
  height: 50px;
  flex: auto;
  float: right;
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
  margin:5px 20px;
  padding:5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5abdae;
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
}

/*Page Title*/
h2 {
  text-align: center;
  font-family: "Lemon Milk", Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px #2da391;
  margin-top: 170px;

}

/*Buttons*/
.button-container {
  text-align: center;
  margin-top: 30px;
}

.button-container button {
  height: 50px;
  width: 200px;
  background-color: #2da391;
  border: 0px;
  color: white;
  font-family: "Mollen", sans-serif;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px #278a79;
}

.button-container button:hover {
  background-color: #5abdae;
}

.button-container button:active {
  background-color: #5abdae;
  box-shadow: 0 2px #278a79;
  transform: translateY(3px);
}


/*About Page*/
.about-container {
  text-align: center;
  font-family: "Mollen", sans-serif;
  background-color: #5abdae;
  padding: 10px;
  color: white;
  font-size: 20px;
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-color: #2da391;
  width: 50%;
  margin: auto;
}


/*Game Page*/
.hidden{
	display: none;
}

.highlighted{
	background-color: #2da391;
}

#win-streak-counter-container {
  text-align: center;
  color: white;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Lemon Milk", Arial, sans-serif;
  background-color: #5abdae;
  padding: 0px;
  border-color: #2da391;
  text-shadow: 2px 2px #2da391
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-color: #2da391;
}

.bennybot-container {
  /*display: inline-block;*/
  font-family: "Mollen Bold", sans-serif;
  background-color: #5abdae;
  padding: 75px;
  font-size: 25px;
  color: white;
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-color: #2da391;
  width: 40%;
  /*margin-left: 25%;
  margin-right: -25%;*/
  text-align: center;
  margin-bottom: 150px;
  justify-content: center;
}

.player-container {
  /*display: inline-block;*/
  font-family: "Mollen Bold", sans-serif;
  background-color: #5abdae;
  padding: 75px;
  font-size: 25px;
  color: white;
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-color: #2da391;
  width: 40%;
  /*margin-left: 25%;
  margin-right: -25%;*/
  text-align: center;
  margin-bottom: 150px;
  justify-content: center;
}


.weapon-contents {
  height: 50px;
  flex: auto;
  display:inline-block;
  margin:0 auto;
  padding:10px;
  float: left;
}

.weapon-image-container img {
  height: 50px;
  flex: auto;
  float: right;
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
  margin:0 auto;
  padding:5px;
}


#outcome-popup {
  text-align: center;
  font-family: "Lemon Milk", sans-serif;
  text-shadow: 2px 2px #2da391;
  background-color: #5abdae;
  padding: 10px;
  color: white;
  font-size: 20px;
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-color: #2da391;
  width: 200px;
  margin: auto;
}


/*Leaderboard Page*/
#leaderboard-container{
  text-align: center;
  font-family: "Mollen Bold", sans-serif;
  background-color: #5abdae;
  padding: 20px;
  font-size: 25px;
  color: white;
  box-shadow: 0 3px #2da391;
  border-radius: 5px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-color: #2da391;
  width: 30%;
  margin: auto;
  margin-top: 130px;
}

/*.win-image-container img{
  height: 50px;
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
  margin:5px 20px;
  padding:0px;
}*/

.highscore-1{
  text-align: center;
  font-family: "Lemon Milk", Arial, sans-serif;
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px #2da391;
}

.highscore-info {
  margin-top: 10px;
}
